/*font-family:;
*/
*{
    box-sizing: border-box;
}

body{
    color: #1f1f1f;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    transition: background .4s
}

.layout__items{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.dark-mode{
    color: #fff;
    background-color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
}

.dark-mode .title{
    background-color: #1f1f1f;
    color: #fff;
}

.dark-mode .aboutme__item{
    background-color: #1f1f1f;
}

.dark-mode .layout{
    color: #fff;
    border: #fff solid ;
}

.dark-mode .footer{
    border: #fff solid 2px 0px  0px 0px;
}

.dark-mode .theme{
    background-color: #fff;
    color: #1f1f1f;
}





.container{
    max-width: 1130px;
    margin: auto;
    padding: 0 15px;
}




.title{
    color: #1f1f1f;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 40px 25px 40px;
    transition: all .4s ;
}




a{
    text-decoration: none;
    color: #1f1f1f;
}




.header{
    background-image: url(../images/stock-photo-work-table-laptop-stationery-office.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
}

.theme{
    border-radius: 0px 3px 0 3px;
    border: none;
    background-color: #1f1f1f;
    color: #fff;
    transition: all .4s;
    padding: 5px;
    cursor: pointer;

}

.aboutme__title__btn{
   display: flex;
   margin-top: -200px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
}

.header__title{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    padding: 19vh 40px 0 40px;
    text-transform: uppercase;

}



.header__second-title{
    font-size: 25px;
    width: 37%;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 400px;
    padding: 30px 40px 0 40px;
    color: #fff;
}


.aboutme__title{
    width: 100%;
    color: #1f1f1f;
    border-radius: 3px 0px 0px 0px;
    transition: all .4s ;
}

.aboutme__item{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0px 40px;
    transition: all .4s ;
}

.aboutme__text{
    font-size: 20px;
    padding-top: 50px;
    width: 100%;
    line-height: 23px;
    margin-top: -70px;
}


.aboutme__text-item{
    padding-top: 20px;
    list-style-type: none;
}

.layouts{
    width: 1005px;
    padding: 0px 40px 5px 40px;
    margin: 0 auto;
    transition: all .4s;
    color: #1f1f1f;
    background-color: #fff;
    transition: all .4s;
}

.layout{
    display: inline-block;
    margin-bottom: 70px;
    width: 450px;
    border: 2px solid rgb(63, 25, 114);
    padding: 30px;
    transition: all 0.4s ;
    cursor: pointer;
    border-radius: 3px;

}

.layout:hover{
    transform: scale(1.1,1.1);
}

.left-margin{
    margin-left: 196px;
}

.layout__image{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
}

.layout__text{
    padding-top: 5px;
    padding-left: 7px;
}
.layout__title{
    font-size: 28px;
    padding-left: 7px;
}

.footer{
    background-color: #000;
    color: #fff;
    height: 135px;
    text-align: center;
}



.footer__contacts{
    display: flex;
     font-weight: 400;
     padding-top: 35px;
     text-align: center;
     justify-content: center;

}

.contacts__link-img{
    z-index: 100;
    padding-left: 5px;
    transition:  all .4s;
}

.contacts__link-img:hover{
    transform: scale(1.5,1.5);
}







.footer__contacts-item{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
}



.vk{
    width: 33px;
    height: 29px;

}
.github{
    margin-bottom: 1px;
    width: 33px;
    height: 27px;

}

.footer__contacts{
    display: block;

}



.coontacts__link{
    font-size: 0px;
    padding-left: 3px;
}







@media (max-width:1200px){
    .container{
        max-width: 970px;
    }

    .layout{
        width: 400px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .left-margin{
        margin-left: 136px;
    }

}


@media (max-width:970px){
    .container{
        max-width: 750px;
    }



    .layout{
        width: 330px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .left-margin{
        margin-left: 56px;
    }

    .header__second-title{
        width: 50%;
    }


}



@media (max-width:750px){
    .container{
        max-width: 550px;
        padding: 0 8px;
    }

    .header__second-title{
        width: 70%;
    }

    .left-margin{
        margin-left: 0;

    }

    .layout{
        width: 545px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header__title{
        font-size: 40px;
    }

    .header__second-title{
       font-size:25px ;
    }

    .title{
        font-size: 35px;
    }
    .aboutme__text{
        font-size:15px ;
    }

    .vk{
        width: 43px;
        height: 39px;

    }
    .github{
        margin-bottom: 1px;
        width: 43px;
        height: 37px;

    }
    .footer__contacts{
    padding-top: 25px;
    }

}





@media (max-width:550px){

    .container{
        max-width: 400px;
    }
    .aboutme__item{
        width: 100%;
    }

    .header__second-title{
        width: 100%;

    }


    .layout{
        width: 399px;
        margin-top: 20px;
        margin-bottom: 20px;
    }



}



    @media (max-width:430px){
        .layout:hover{
            transform: none;
        }
        .container{
            max-width: 350px;
        }

        .title{
            font-size: 20px;
        }

        .aboutme__text{
            font-size:12px ;
            margin-top: -60px;
        }

        .layout{
            width: 335px;
        }

    }

    @media (max-width:350px){
        .container{
            max-width: 300px;
        }

        .title{
            font-size: 15px;
            font-weight: 800;
        }

        .header__title{
            font-size: 25px;
        }
        .header__second-title{
           font-size:15px ;
        }

        .layout{
            width: 285px;
        }


        .aboutme__title__btn{
            margin-top: -220px;
        }
    }


    @media (max-width:300px){
        .container{
            max-width: 260px;
        }
        .layout{
            width: 245px;
    }
    .header__second-title{
        line-height: 18px;
    }


    }


    @media (max-height:600px){
        .header__second-title{
            width: 70%;

        }
    }




